{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
    {{ macros.head() }}
<body>
    {{ macros.navbar() }}
    <div class="container">
        <div class="table-container">
            <table class="table is-bordered">
                <tbody>
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                    </tr>

                    {% for prob_list in probs %}
                    <tr>
                        <th>{{ ids[loop.index0] }}</th>
                        {% for prob in prob_list %}
                        <td>{{prob}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>