/* A small collection of CSS styles to add Queen's branding. Styling primarily handled by bulma */

.queens-branding {
    background-color: #D6000D;
    color: white !important;
}

.queens-button:hover {
    background-color: #9e1c23;
}

.queens-button:disabled {
    background-color: #a13f44;
}

.navbar-item, .navbar-link, .has-dropdown {
    color: white;
}

.navbar-item:hover, .navbar-link:hover, .navbar-item:focus, .navbar-link:focus, .navbar-item:active, .is-current-page {
    background-color: #a30009 !important;
}
.queens-branding-text {
    color: #D6000D !important;
}

.queens-branding-text:hover {
    color: #6e0006 !important;
}

.sort-button{
    border: none;
    box-shadow: none;
}

.queens-textfield:focus, .queens-textfield:focus-visible {
    box-shadow: 0 0 3px 2px #D6000D !important;
    border-color: #D6000D !important;
    outline: none !important;
}

.queens-slider {
    accent-color: #D6000D !important;
    width: 100% !important;
}

.queens-radio {
    accent-color: #D6000D !important;
}

.tooltip {
    z-index: 100 !important;
}