{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
    {{ macros.head() }}
<body>
    {{ macros.navbar() }}

    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Sample ID</th> <th>Subgroup Classification</th>
                </tr>

                
                {% for id in ids %}
                <tr>
                    <td>{{ id }}</td> <td>{{predictions[loop.index0]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>